.create-warehouse {
    margin-top: 30px;
}
.create-warehouse__button {
    background: #00a814;
}
.create-warehouse__form {
    margin-top: 15px;
}
.create-warehouse__form--input {
    margin-right: 10px;
}
.create-warehouse__form--button {
    display: block;
    background: #00a814;
    margin-top: 10px;
}