.create-product {
    margin-top: 30px;
}
.create-product__headline {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}
.create-product__headline--span {
    font-weight: 400;
}
.create-product__button {
    background: #00a814;
    margin-bottom: 15px;
}
.create-product__form--input {
    margin-right: 10px;
}
.create-product__form--button {
    display: block;
    margin-top: 15px;
    background: #00a814;
}