.warehouse-products {
    margin-top: 30px;
    margin-bottom: 30px;
}
.warehouse-products__box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.warehouse-products__item {
    width: 400px;
    border: 4px solid #000;
    border-radius: 4px;
    margin: 10px;
}
.warehouse-products__item--info {
    border-top: 2px solid #000;
    padding: 5px;
}
.warehouse-product__item--info-height {
    max-height: 46px;
    overflow: hidden;
}
.warehouse-products__item--info-span {
    font-weight: 700;
}