@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.edit {
  background: #f59b00;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #fff;
  }
}

.delete {
  background: #e51f1f;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #fff;
  }
}

.accept {
  background: #00a814;
}
.disagree {
  background: #e51f1f;
}

.agree {
  background: #00a814;
  cursor: pointer;
  text-align: center;
  &:hover {
    color: #fff;
  }
}
.button {
  border: 0px;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.input {
  padding: 5px;
  color: #000;
  border-radius: 4px;
  border: 1px solid #000;
  background: inherit;
  font-size: 16px;
  font-weight: 400;
  &::placeholder {
    color: rgb(97, 97, 97);
    font-size: 16px;
    font-weight: 400;
  }
}
.opinion-auth {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 92%;
  background: rgba(0,0,0,0.4);
}